@use "sass:math";
@use 'colors';

@mixin win98_box($variant) {
  box-shadow:
    inset -1px -1px colors.dark($variant),
    inset 1px 1px colors.base($variant),
    inset -2px -2px colors.disabled($variant),
    inset 2px 2px colors.light($variant);
}

@mixin win98_inner_box($variant) {
  padding: 1px;

  box-shadow:
    inset -1px -1px colors.light($variant),
    inset 1px 1px colors.disabled($variant),
    inset -2px -2px colors.base($variant),
    inset 2px 2px colors.dark($variant);
}

@mixin win98_control_box($variant) {
  box-shadow:
    inset -1px -1px colors.dark($variant),
    inset 1px 1px #fff,
    inset -2px -2px colors.disabled($variant);
}

@mixin win98_control_box_active($variant) {
  box-shadow:
    inset -1px -1px colors.light($variant),
    inset 1px 1px colors.dark($variant),
    inset 2px 2px colors.disabled($variant);
}

@mixin font($font, $size: 24, $base: 16) {
  font-family: $font;
  font-size: math.round($size) + pt;
}
