<os-window
  [theme]="getTheme(0)"
  [variant]="getVariant(0)"
  [height]="400"
  [width]="680"
  [minHeight]="300"
  [minWidth]="300"
  [resizable]="true"
  [minimizable]="true"
  [maximizable]="true"
  [closable]="true"
  position="left top">
  <window-title> {{ getNameOfWindow(0) }} </window-title>
  <window-content>
    <h3 class="pl-1.5 text-xl">Controls</h3>
    <div class="buttons">
      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        (click)="toggleTheme()">
        Toggle theme
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        (click)="toggleVariant()">
        Toggle variant
      </button>
    </div>

    <br />
    <h3 class="pl-1.5 text-xl">Buttons</h3>
    <div>
      <button [theme]="getTheme(0)" [variant]="getVariant(0)" os-button>
        Default
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="red">
        Red
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="orange">
        Orange
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="yellow">
        Yellow
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="lime">
        Lime
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="green">
        Green
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="aqua">
        Aqua
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="blue">
        Blue
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="purple">
        Purple
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        color="magenta">
        Magenta
      </button>
    </div>

    <div>
      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled>
        Default
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="red">
        Red
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="orange">
        Orange
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="yellow">
        Yellow
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="lime">
        Lime
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="green">
        Green
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="aqua">
        Aqua
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="blue">
        Blue
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="purple">
        Purple
      </button>

      <button
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        os-button
        disabled
        color="magenta">
        Magenta
      </button>
    </div>

    <br />

    <h3 class="pl-1.5 text-xl">Radio buttons</h3>
    <h4 class="pb-1.5 pl-1.5 text-lg">Right label</h4>

    <div class="flex gap-3">
      <os-radio name="test1" [theme]="getTheme(0)" [variant]="getVariant(0)"
        >Group 1</os-radio
      >
      <br />
      <os-radio name="test1" [theme]="getTheme(0)" [variant]="getVariant(0)"
        >Group 1</os-radio
      >
    </div>

    <h4 class="pb-1.5 pl-1.5 text-lg">Right label</h4>

    <div class="flex gap-3 pl-1.5">
      <os-radio
        name="test2"
        labelPosition="before"
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        >Group 2</os-radio
      >
      <br />
      <os-radio
        name="test2"
        labelPosition="before"
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        >Group 2</os-radio
      >
    </div>

    <h4 class="pb-1.5 pl-1.5 text-lg">Disabled radio button</h4>
    <div class="flex gap-3">
      <os-radio
        name="test3"
        disabled
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        >Group disabled</os-radio
      >
      <br />
      <os-radio
        name="test3"
        disabled
        checked
        [theme]="getTheme(0)"
        [variant]="getVariant(0)"
        >Group disabled</os-radio
      >
    </div>

    <br />

    <h3 class="pl-1.5 text-xl">Text</h3>
    <p class="w-11/12 pl-1.5">
      <a href="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
        nibh eu mauris faucibus bibendum sit amet eget arcu. Mauris quis
        accumsan metus, quis varius diam. Nullam a lectus eros. Integer tempor
        lacus eros, nec sodales risus fermentum vel. Nam in gravida nibh, ut
        ultrices mi. Morbi viverra facilisis sapien, sodales tincidunt ipsum
        bibendum hendrerit. Duis tellus augue, sodales interdum elit nec,
        pulvinar semper lorem. Sed condimentum odio nec risus sagittis, ac
        facilisis orci scelerisque. Sed magna est, congue id rutrum ultrices,
        fermentum non ligula. Duis at pellentesque arcu, viverra fringilla arcu.
      </a>
    </p>

    <p class="w-11/12 pl-1.5">
      Ut eros purus, eleifend vitae pharetra vitae, auctor sit amet orci. Cras
      non dolor enim. Duis id fringilla erat. Maecenas et nulla nec libero
      venenatis dignissim. Nulla feugiat augue ut consequat pretium. Etiam
      eleifend, leo ac ornare ultricies, odio felis iaculis arcu, sed blandit
      tellus turpis tincidunt lacus. Cras non mauris sit amet lorem convallis
      interdum. Duis tempus fringilla tellus sed tempus. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Vestibulum vitae ex a orci volutpat congue.
    </p>
    <p class="w-11/12 pl-1.5">
      Quisque eget neque purus. Proin pharetra vulputate lorem sed fringilla.
      Mauris tempus odio neque, ac rhoncus ligula cursus vitae. In hac habitasse
      platea dictumst. Proin quis ligula tempor, egestas elit non, faucibus
      sapien. Sed mi nisl, lacinia nec mi non, pulvinar tempor erat. Integer
      pharetra id leo id laoreet. Fusce accumsan lorem vitae leo egestas,
      euismod venenatis erat lobortis. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Aliquam orci erat, sollicitudin quis volutpat eu,
      venenatis non enim. In a magna at erat vulputate mollis. Phasellus finibus
      augue et mauris accumsan sagittis. Praesent et lacus sollicitudin,
      ultricies elit a, viverra lorem. Sed et elementum velit, nec dignissim
      nibh.
    </p>
    <p class="w-11/12 pl-1.5">
      Nam sit amet mauris arcu. Etiam vulputate vehicula gravida. Suspendisse
      molestie odio a enim placerat, a semper erat lacinia. Pellentesque
      tristique maximus pellentesque. Nullam quis varius metus, nec lobortis mi.
      Integer venenatis mi eget nisi dignissim tempor. Maecenas eget imperdiet
      enim. Morbi non sodales tellus, quis imperdiet odio. Sed nisi lectus,
      tincidunt eget finibus vel, feugiat ac felis. Donec euismod sapien a nisl
      pharetra, sed hendrerit turpis interdum.
    </p>
    <p class="w-11/12 pl-1.5">
      Donec fermentum nunc semper blandit semper. Maecenas sed libero leo. Nunc
      sed lacinia nisi. Etiam vel magna vitae orci aliquet bibendum a eu nulla.
      Fusce vulputate, quam ut faucibus pretium, risus urna pellentesque eros,
      ac tristique ante libero at arcu. Vivamus quis nisl in odio laoreet
      aliquam. Praesent convallis dolor non massa suscipit iaculis. Etiam quis
      dui felis. Nulla scelerisque scelerisque lorem, et dictum ligula fringilla
      a. Aenean congue molestie rhoncus. Nulla facilisi. Nam ut leo nulla.
    </p>
  </window-content>
</os-window>

<os-window
  [theme]="getTheme(1)"
  [variant]="getVariant(1)"
  [height]="400"
  [width]="680"
  [minHeight]="300"
  [minWidth]="300"
  [resizable]="true"
  [minimizable]="true"
  [maximizable]="true"
  [closable]="true"
  position="center center">
  <window-title> {{ getNameOfWindow(1) }} </window-title>
  <window-content>
    <h3 class="pl-1.5 text-xl">Controls</h3>
    <div class="buttons">
      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        (click)="toggleTheme()">
        Toggle theme
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        (click)="toggleVariant()">
        Toggle variant
      </button>
    </div>

    <br />
    <h3 class="pl-1.5 text-xl">Buttons</h3>
    <div>
      <button [theme]="getTheme(1)" [variant]="getVariant(1)" os-button>
        Default
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="red">
        Red
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="orange">
        Orange
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="yellow">
        Yellow
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="lime">
        Lime
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="green">
        Green
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="aqua">
        Aqua
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="blue">
        Blue
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="purple">
        Purple
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        color="magenta">
        Magenta
      </button>
    </div>

    <div>
      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled>
        Default
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="red">
        Red
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="orange">
        Orange
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="yellow">
        Yellow
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="lime">
        Lime
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="green">
        Green
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="aqua">
        Aqua
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="blue">
        Blue
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="purple">
        Purple
      </button>

      <button
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        os-button
        disabled
        color="magenta">
        Magenta
      </button>
    </div>

    <br />

    <h3 class="pl-1.5 text-xl">Radio buttons</h3>
    <h4 class="pb-1.5 pl-1.5 text-lg">Right label</h4>

    <div class="flex gap-3">
      <os-radio name="test1" [theme]="getTheme(1)" [variant]="getVariant(1)"
        >Group 1</os-radio
      >
      <br />
      <os-radio name="test1" [theme]="getTheme(1)" [variant]="getVariant(1)"
        >Group 1</os-radio
      >
    </div>

    <h4 class="pb-1.5 pl-1.5 text-lg">Right label</h4>

    <div class="flex gap-3 pl-1.5">
      <os-radio
        name="test2"
        labelPosition="before"
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        >Group 2</os-radio
      >
      <br />
      <os-radio
        name="test2"
        labelPosition="before"
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        >Group 2</os-radio
      >
    </div>

    <h4 class="pb-1.5 pl-1.5 text-lg">Disabled radio button</h4>
    <div class="flex gap-3">
      <os-radio
        name="test3"
        disabled
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        >Group disabled</os-radio
      >
      <br />
      <os-radio
        name="test3"
        disabled
        checked
        [theme]="getTheme(1)"
        [variant]="getVariant(1)"
        >Group disabled</os-radio
      >
    </div>

    <br />

    <h3 class="pl-1.5 text-xl">Text</h3>
    <p class="w-11/12 pl-1.5">
      <a href="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget
        nibh eu mauris faucibus bibendum sit amet eget arcu. Mauris quis
        accumsan metus, quis varius diam. Nullam a lectus eros. Integer tempor
        lacus eros, nec sodales risus fermentum vel. Nam in gravida nibh, ut
        ultrices mi. Morbi viverra facilisis sapien, sodales tincidunt ipsum
        bibendum hendrerit. Duis tellus augue, sodales interdum elit nec,
        pulvinar semper lorem. Sed condimentum odio nec risus sagittis, ac
        facilisis orci scelerisque. Sed magna est, congue id rutrum ultrices,
        fermentum non ligula. Duis at pellentesque arcu, viverra fringilla arcu.
      </a>
    </p>

    <p class="w-11/12 pl-1.5">
      Ut eros purus, eleifend vitae pharetra vitae, auctor sit amet orci. Cras
      non dolor enim. Duis id fringilla erat. Maecenas et nulla nec libero
      venenatis dignissim. Nulla feugiat augue ut consequat pretium. Etiam
      eleifend, leo ac ornare ultricies, odio felis iaculis arcu, sed blandit
      tellus turpis tincidunt lacus. Cras non mauris sit amet lorem convallis
      interdum. Duis tempus fringilla tellus sed tempus. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Vestibulum vitae ex a orci volutpat congue.
    </p>
    <p class="w-11/12 pl-1.5">
      Quisque eget neque purus. Proin pharetra vulputate lorem sed fringilla.
      Mauris tempus odio neque, ac rhoncus ligula cursus vitae. In hac habitasse
      platea dictumst. Proin quis ligula tempor, egestas elit non, faucibus
      sapien. Sed mi nisl, lacinia nec mi non, pulvinar tempor erat. Integer
      pharetra id leo id laoreet. Fusce accumsan lorem vitae leo egestas,
      euismod venenatis erat lobortis. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Aliquam orci erat, sollicitudin quis volutpat eu,
      venenatis non enim. In a magna at erat vulputate mollis. Phasellus finibus
      augue et mauris accumsan sagittis. Praesent et lacus sollicitudin,
      ultricies elit a, viverra lorem. Sed et elementum velit, nec dignissim
      nibh.
    </p>
    <p class="w-11/12 pl-1.5">
      Nam sit amet mauris arcu. Etiam vulputate vehicula gravida. Suspendisse
      molestie odio a enim placerat, a semper erat lacinia. Pellentesque
      tristique maximus pellentesque. Nullam quis varius metus, nec lobortis mi.
      Integer venenatis mi eget nisi dignissim tempor. Maecenas eget imperdiet
      enim. Morbi non sodales tellus, quis imperdiet odio. Sed nisi lectus,
      tincidunt eget finibus vel, feugiat ac felis. Donec euismod sapien a nisl
      pharetra, sed hendrerit turpis interdum.
    </p>
    <p class="w-11/12 pl-1.5">
      Donec fermentum nunc semper blandit semper. Maecenas sed libero leo. Nunc
      sed lacinia nisi. Etiam vel magna vitae orci aliquet bibendum a eu nulla.
      Fusce vulputate, quam ut faucibus pretium, risus urna pellentesque eros,
      ac tristique ante libero at arcu. Vivamus quis nisl in odio laoreet
      aliquam. Praesent convallis dolor non massa suscipit iaculis. Etiam quis
      dui felis. Nulla scelerisque scelerisque lorem, et dictum ligula fringilla
      a. Aenean congue molestie rhoncus. Nulla facilisi. Nam ut leo nulla.
    </p>
  </window-content>
</os-window>

<os-window
  [theme]="'win98custom'"
  [variant]="'classic'"
  [height]="400"
  [width]="680"
  [minHeight]="300"
  [minWidth]="300"
  [resizable]="true"
  [minimizable]="true"
  [maximizable]="true"
  [closable]="true"
  position="right bottom">
  <window-title> Custom user themed window </window-title>
  <window-content>
    <h1 class="pl-1.5 text-3xl">This window loads a custom theme!!!!</h1>
  </window-content>
</os-window>
