@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css('app/win98custom/style.scss');

body {
  margin: 0;
  overflow: hidden;
  img {
    height: 110vh;
    width: auto;
  }
}
