@use "sass:color";
@use "sass:math";
@use '../colors';

// provide font size in rem, with px fallback
@mixin font($font, $size: 24, $base: 16) {
  font-family: $font;
  font-size: math.round($size) + pt;
}

@mixin button_bg_shadow_box_95($variant) {
  &.red-os-button {
    background-color: colors.bg_red($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_red($variant), $alpha: -0.95);
  }
  &.orange-os-button {
    background-color: colors.bg_orange($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_orange($variant), $alpha: -0.95);
  }
  &.yellow-os-button {
    background-color: colors.bg_yellow($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_yellow($variant), $alpha: -0.95);
  }
  &.lime-os-button {
    background-color: colors.bg_lime($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_lime($variant), $alpha: -0.95);
  }
  &.green-os-button {
    background-color: colors.bg_green($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_green($variant), $alpha: -0.95);
  }
  &.aqua-os-button {
    background-color: colors.bg_aqua($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_aqua($variant), $alpha: -0.95);
  }
  &.blue-os-button {
    background-color: colors.bg_blue($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_blue($variant), $alpha: -0.95);
  }
  &.purple-os-button {
    background-color: colors.bg_purple($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_purple($variant), $alpha: -0.95);
  }
  &.magenta-os-button {
    background-color: colors.bg_magenta($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_magenta($variant), $alpha: -0.95);
  }
}

@mixin button_bg_shadow_box_5_95($variant) {
  &.red-os-button {
    background-color: color.adjust(colors.bg_red($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_red($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.orange-os-button {
    background-color: color.adjust(colors.bg_orange($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_orange($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.yellow-os-button {
    background-color: color.adjust(colors.bg_yellow($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_yellow($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.lime-os-button {
    background-color: color.adjust(colors.bg_lime($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_lime($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.green-os-button {
    background-color: color.adjust(colors.bg_green($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_green($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.aqua-os-button {
    background-color: color.adjust(colors.bg_aqua($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_aqua($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.blue-os-button {
    background-color: color.adjust(colors.bg_blue($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_blue($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.purple-os-button {
    background-color: color.adjust(colors.bg_purple($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_purple($variant), $lightness: 5%), $alpha: -0.95);
  }
  &.magenta-os-button {
    background-color: color.adjust(colors.bg_magenta($variant), $lightness: 5%);
    box-shadow: inset 0 2px 4px
      color.adjust(color.adjust(colors.bg_magenta($variant), $lightness: 5%), $alpha: -0.95);
  }
}

@mixin button_bg_shadow_box_45_95($variant) {
  &.red-os-button {
    background-color: color.adjust(colors.bg_red($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_red($variant), $alpha: -0.95);
  }
  &.orange-os-button {
    background-color: color.adjust(colors.bg_orange($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_orange($variant), $alpha: -0.95);
  }
  &.yellow-os-button {
    background-color: color.adjust(colors.bg_yellow($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_yellow($variant), $alpha: -0.95);
  }
  &.lime-os-button {
    background-color: color.adjust(colors.bg_lime($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_lime($variant), $alpha: -0.95);
  }
  &.green-os-button {
    background-color: color.adjust(colors.bg_green($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_green($variant), $alpha: -0.95);
  }
  &.aqua-os-button {
    background-color: color.adjust(colors.bg_aqua($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_aqua($variant), $alpha: -0.95);
  }
  &.blue-os-button {
    background-color: color.adjust(colors.bg_blue($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_blue($variant), $alpha: -0.95);
  }
  &.purple-os-button {
    background-color: color.adjust(colors.bg_purple($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_purple($variant), $alpha: -0.95);
  }
  &.magenta-os-button {
    background-color: color.adjust(colors.bg_magenta($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.bg_magenta($variant), $alpha: -0.95);
  }
}

@mixin select_border($variant) {
  &.red-os-button {
    border: 1px solid colors.focus_red($variant);
  }
  &.orange-os-button {
    border: 1px solid colors.focus_orange($variant);
  }
  &.yellow-os-button {
    border: 1px solid colors.focus_yellow($variant);
  }
  &.lime-os-button {
    border: 1px solid colors.focus_lime($variant);
  }
  &.green-os-button {
    border: 1px solid colors.focus_green($variant);
  }
  &.aqua-os-button {
    border: 1px solid colors.focus_aqua($variant);
  }
  &.blue-os-button {
    border: 1px solid colors.focus_blue($variant);
  }
  &.purple-os-button {
    border: 1px solid colors.focus_purple($variant);
  }
  &.magenta-os-button {
    border: 1px solid colors.focus_magenta($variant);
  }
}

@mixin select_bg_box($variant) {
  &.red-os-button {
    background-color: colors.focus_red($variant);
    box-shadow: inset 0 2px 4px colors.focus_red($variant);
  }
  &.orange-os-button {
    background-color: colors.focus_orange($variant);
    box-shadow: inset 0 2px 4px colors.focus_orange($variant);
  }
  &.yellow-os-button {
    background-color: colors.focus_yellow($variant);
    box-shadow: inset 0 2px 4px colors.focus_yellow($variant);
  }
  &.lime-os-button {
    background-color: colors.focus_lime($variant);
    box-shadow: inset 0 2px 4px colors.focus_lime($variant);
  }
  &.green-os-button {
    background-color: colors.focus_green($variant);
    box-shadow: inset 0 2px 4px colors.focus_green($variant);
  }
  &.aqua-os-button {
    background-color: colors.focus_aqua($variant);
    box-shadow: inset 0 2px 4px colors.focus_aqua($variant);
  }
  &.blue-os-button {
    background-color: colors.focus_blue($variant);
    box-shadow: inset 0 2px 4px colors.focus_blue($variant);
  }
  &.purple-os-button {
    background-color: colors.focus_purple($variant);
    box-shadow: inset 0 2px 4px colors.focus_purple($variant);
  }
  &.magenta-os-button {
    background-color: colors.focus_magenta($variant);
    box-shadow: inset 0 2px 4px colors.focus_magenta($variant);
  }
}

@mixin button($t, $variant) {
  //
  // Button drawing function
  //

  @if $t== 'normal' {
    //
    // normal button
    //
    color: colors.fg($variant);
    background-color: colors.button_bg($variant);
    border: 1px solid colors.button_border($variant);
    box-shadow: inset 0 2px 4px color.adjust(colors.button_bg($variant), $alpha: -0.95);

    @include button_bg_shadow_box_95($variant);
  } @else if $t== 'focus' {
    //
    // focused button
    //
    color: colors.fg($variant);
    background-color: colors.button_bg($variant);
    border: 1px solid colors.selected_bg();
    box-shadow: inset 0 2px 4px color.adjust(colors.button_bg($variant), $alpha: -0.95);

    @include button_bg_shadow_box_95($variant);
    @include select_border($variant);
  } @else if $t== 'focus-hover' {
    //
    // focused button
    //
    color: colors.fg($variant);
    background-color: colors.button_bg($variant);
    border: 1px solid colors.selected_bg();
    box-shadow: inset 0 2px 4px color.adjust(colors.button_bg($variant), $alpha: -0.95);

    @include button_bg_shadow_box_95($variant);
    @include select_border($variant);
  } @else if $t== 'hover' {
    //
    // hovered button
    //
    color: colors.fg($variant);
    background-color: color.adjust(colors.button_bg($variant), $lightness: 5%);
    border: 1px solid colors.button_border($variant);
    box-shadow: inset
      0
      2px
      4px
      color.adjust(color.adjust(colors.button_bg($variant), $lightness: 5%), $alpha: -0.95);

    @include button_bg_shadow_box_5_95($variant);
  } @else if $t== 'active' {
    //
    // pushed button
    //
    color: colors.selected_fg();
    background-color: colors.selected_bg();
    border: 1px solid colors.selected_bg();
    box-shadow: inset 0 2px 4px colors.selected_bg();

    @include select_border($variant);
    @include select_bg_box($variant);
  } @else if $t== 'disabled' {
    //
    // disabled button
    //
    color: colors.insensitive_fg($variant);
    border: 1px solid color.adjust(colors.button_border($variant), $alpha: -0.45);
    background-color: color.adjust(colors.button_bg($variant), $alpha: -0.45);
    box-shadow: inset 0 2px 4px color.adjust(colors.button_bg($variant), $alpha: -0.95);

    @include button_bg_shadow_box_45_95($variant);
  }
}

$font-size: 9;
$font-family:
  Futura Bk bt,
  'Open Sans',
  sans,
  Sans-Serif;

.arc-light-os-button {
  @include font($font-family, $font-size);

  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: 2px;

  & {
    @include button(normal, 'light');
  }
  &:focus {
    @include button('focus', 'light');
  }
  &:hover {
    @include button('hover', 'light');
  }
  &:hover:focus {
    @include button('focus-hover', 'light');
  }
  &:not([disabled]):active,
  &:not([disabled]):active:focus {
    @include button('active', 'light');
  }
  &[disabled] {
    @include button('disabled', 'light');
  }

  &[os-icon-button] {
    display: flex;
    align-items: center;

    padding: 8px;
    * {
      margin: 0;
    }
  }
}

.arc-dark-os-button {
  @include font($font-family, $font-size);

  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: 2px;

  & {
    @include button(normal, 'dark');
  }
  &:focus {
    @include button('focus', 'dark');
  }
  &:hover {
    @include button('hover', 'dark');
  }
  &:hover:focus {
    @include button('focus-hover', 'dark');
  }
  &:not([disabled]):active,
  &:not([disabled]):active:focus {
    @include button('active', 'dark');
  }
  &[disabled] {
    @include button('disabled', 'dark');
  }

  &[os-icon-button] {
    display: flex;
    align-items: center;

    padding: 8px;
    * {
      margin: 0;
    }
  }
}
