@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-container {
  .disabled {
    cursor: default;
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    background: 0;
    position: fixed;
    opacity: 0;
    border: none;
  }
}
